<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="icon" type="image/png" href="{{ "img/favicon.png" | relURL }}">
	<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">

	<title>{{ .Site.Title }}</title>

</head>

<body>

	{{ if .IsPage }}

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ .Site.BaseURL }}">
					<img alt="logo" style="display:inline-block;height:20px" src="{{ "img/logo.png" | relURL }}">&nbsp;&nbsp;{{ .Site.Title }} 
				</a>
			</div>
		</div>
	</nav>

	{{ end }}