{{ partial "header.html" . }}

<main class="container">

	<div class="page-header">
		<h1>
			<img alt="logo" style="display:inline-block;height:32px" src="{{ "img/logo.png" | relURL }}">
			&nbsp;{{ .Title }}
		</h1>
	</div>

	<section id="introduction">
		<h2>Einleitung</h2>
		<p>
			<strong>Willkommen auf der Projektseite</strong> des Informatikunterrichtes 15/16 an der <a href="http://stormarnschule.de/">Stormarnschule Ahrensburg</a>.
		</p>
		<p>
			Diese Webseite wurde zu Dokumentationszwecken für nachfolgende Informatiklehrer und -schüler erstellt, um einen einfachen Einstieg
			in das Thema zu bieten. Bis Sommer 2016 wird diese Webseite erweitert und verbessert, wer sich danach darum kümmert steht
			nicht fest.
		</p>
		<p>
			Aktuell werden Inhalte von Fabian Pieper und Jesse Stricker erstellt, welche auf der Arbeit mit dem Raspberry Pi im Unterricht
			basieren.
		</p>
	</section>

	<section id="tutorials">
		<h2>Tutorials</h2>
		<p>
			Auf dieser Seite finden sich alle <strong>Tutorials und Anleitungen</strong>, die wir für den Raspberry Pi geschrieben haben.

			<h3>Kategorien</h3>

			<ul>
				{{ range .Site.Pages.GroupBy "Section" }}
				<li>
					<h4>{{ title .Key }}</h4>

					<ul>
						{{ range .Pages }}
						<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
						{{ end }}
					</ul>
				</li>
				{{ end }}
			</ul>

		</p>
	</section>

	<section id="links">
		<h2>Links</h2>
		<p>
			Nicht alles befindet sich auf dieser Seite, was zum Raspberry Pi Projekt dazu gehört.
			<br> Der <strong>Code für die Bibliotheken</strong> und der <strong>Beispielcode für die Tutorials</strong> sind auf der Github-Seite der Stormarnschule zu
			finden. Hier ist eine kleine Übersicht:
		</p>
		<ul>
			<li>
				<strong>API-Dokumentationen</strong>
				<ul>
					<li>GPIO</li>
					<li>PCD8544 Display</li>
				</ul>
			</li>

			<li>
				<strong>Code</strong>
				<ul>
					<li>
						<a href="https://github.com/stormarnschule/tutorial-code">Beispielcode</a>
					</li>
					<li>
						<a href="https://github.com/stormarnschule">Repository Übersicht</a>
					</li>
					<li>
						<a href="https://github.com/stormarnschule/gpio">GPIO</a>
					</li>
					<li>
						<a href="https://github.com/stormarnschule/pcd8544">PCD8544 Display</a>
					</li>
				</ul>
			</li>
		</ul>
	</section>

</main>

{{ partial "footer.html" . }}